.border {
	border: none;
	margin-bottom: 5px;
	border-top: 10px solid var(--orange);
	background: none;
	color: none;
}

.contenido article {
	padding: 30px;
	background: #fff;
}

.contenido article p {
	margin-bottom: 10px;
	color: #000;
}
